*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494d5f;
}


.container{
    background-color: #e5eaf5;
    width: 500px;
    height: 500px;



    display: flex;
    flex-wrap: wrap;

}

.container .pixel{
   
    background-color: aqua;
    border: 0.2px solid black;
}