@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

:root{
    --canvasSize: 500;
    --pixel-border-width: 0.1;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Lumanosimo', cursive;
    align-items: center;
    background-color: #494d5f;

}


.game{
    text-align: center;
}

.game h1{
    color: #E5EAF5;
    background-color: #845BB3;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.container{
    background-color: #e5eaf5;
    width: calc(var(--canvasSize) * 1px);
    height: calc(var(--canvasSize) * 1px);



    display: flex;
    flex-wrap: wrap;

    box-shadow: 5px 5px 10px black;

}

.container:hover{
    
}
.container .pixel{
   
    background-color: #FAF9F6;
    border: calc(var(--pixel-border-width) * 1px) solid black;

}

.controls{
    padding: 20px;
    background-color: #a0d2eb;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.controls button{
    background-color: #845BB3;
    padding: 10px 15px;
    color: #E5EAF5;
    border: 0;
    border-radius: 5px 5px
}

.controls button:active{
    transform: scale(1.1);
}

.controls button:hover{
    background-color: #7744d6;
}

#colorP{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#grid{
    display: inline;
}

.controls #colorP #colorPicker{
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   width: 40px;
   height: 40px;
   border: none;
   cursor: pointer;
   border-radius: 50%;
}

.controls #colorP #colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}
.controls #colorP #colorPicker::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

#me{
    z-index: -1;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}


@media(max-width:800px){

}

